<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <label>First Name</label>
    <input type="text" #fName (keypress)="onKeypressEvent($event)" (paste)="onPasteEvent($event)" placeholder="Joe" [(ngModel)]="firstname">
    <div class="error-msg text-special" *ngIf="fname">*First Name is required</div>

    <label>Last Name</label>
    <input type="text" #lName (keypress)="onKeypressEvent($event)" (paste)="onPasteEvent($event)" placeholder="Smith" [(ngModel)]="lastname">
    <div class="error-msg text-special" *ngIf="lname">*Last Name is required</div>

    <label>Address</label>
    <textarea [disabled]="isDisabled" [(ngModel)]="address"></textarea>
    <div [ngClass]="msgClasses" *ngIf="add">*Address cannot be empty</div>

    <label>D.O.B.</label>
    <input type="date" [(ngModel)]="date">
    <div [class]="error" *ngIf="isDate">*Please select a date</div>

    <label><input type="radio" name="stream" (click)="isSelected('Science')">Science</label>
    <label><input type="radio" name="stream" (click)="isSelected('Others')">Others</label>
    <div [class.error-msg]="isStream" *ngIf="isStream">*Choose a stream</div>

    <div *ngIf="selectedLink">
      <label>Subjects</label>
      <select [(ngModel)]="subject">
        <option *ngFor="let sub of subjects" [value]="sub">{{sub.value}}</option>
      </select>
    </div>
    <div [ngStyle]="msgStyles" *ngIf="isSubject">*Select a prefferable subject please</div>

    <button type="submit" (click)="validateInputs()">Submit</button>
    <div class="greet-msg" *ngIf="clicked">{{"WELCOME -- " + firstname + " " + lastname}}</div>

    <div app-my-comp></div>
  </body>
</html>